
extends layout

block content
  div.row
    div.col-md-6
      h1(style="text-align:left") Profile
    div.col-md-6
      h2(style="text-align:right") #{username}
  div.row
    div.col-md-2
    div.col-md-8
      h3 Information
      table.table
          thead
              tr
                  th Username
                  th Real Name
                  th Join Date
          tr
              td #{username}
              td #{first_name} #{last_name}
              td #{date_joined}
      h2 Bookings
      table.table.table-striped.table-hover
          thead
              tr
                  th Facility
                  th Day
                  th Time
                  th.text-right Delete booking
          each b in user_bookings
              if b.duration != 0
                  tr
                      td=b.facility.name + ' ' + b.facility.id
                      td=b.day
                      - var starttime = ((~~(b.timeslot/2) + 8)%12)
                      - starttime = (starttime == 0 ? 12 : starttime) + (b.timeslot % 2 == 0 ? ':00' : ':30')
                      - starttime = starttime + (b.timeslot < 8 || b.timeslot == 32 ? 'am' : 'pm')
                      - var endslot = b.timeslot + b.duration
                      - var endtime = ((~~(endslot/2) + 8)%12)
                      - endtime = (endtime == 0 ? 12 : endtime) + (endslot % 2 == 0 ? ':00' : ':30')
                      - endtime = endtime + (endslot < 8 || endslot == 32 ? 'am' : 'pm')
                      td= starttime + ' - ' + endtime
                      td.text-right 
                        button.btn.btn-danger
                          span.glyphicon.glyphicon-remove
    div.col-md-2

    script(src="/javascripts/profile.js")
