
extends layout

block content
  div.row
    div.col-md-6
      h1(style="text-align:left") Profile
    div.col-md-6
      h2(style="text-align:right") #{username}
  div.row
    div.col-md-2
    div.col-md-8
      h3 Information
      table.table
          thead
              tr
                  th Username
                  th Real Name
                  th Join Date
          tr
              td #{username}
              td #{first_name} #{last_name}
              td #{date_joined}
      h2 Bookings
      table.table.table-striped.table-hover
          thead
              tr
                  th Facility
                  th Time
                  th Duration
                  th.text-right Delete booking
          each b in user_bookings
              tr
                  td=b.facility
                  td=b.timeslot
                  td=b.duration
                  td.text-right 
                    button.btn.btn-danger
                      span.glyphicon.glyphicon-remove
    div.col-md-2
