
extends layout

block content
  div.row
    div.col-md-6
      h1(style="text-align:left") Profile
    div.col-md-6
      h2(style="text-align:right") #{username}
  div.row
    div.col-md-2
    div.col-md-8
      h3 Information
      table.table
          thead
              tr
                  th Username
                  th Real Name
                  th Join Date
          tr
              td #{username}
              td #{first_name} #{last_name}
              td #{date_joined}
      h2 Bookings
      table.table.table-striped.table-hover
          thead
              tr
                  th Facility
                  th Time
                  th Duration
                  th Day
                  th.text-right Delete booking
          each b in user_bookings
                  tr.profile-booking(data-href='/timetable/'+b.facility.name+'/'+b.facility.id)
                      td=b.facility.name + ' ' + b.facility.id
                      - var hour = (Math.floor(b.timeslot/2) + 8)%12
                      td= (hour == 0 ? 12 : hour ) + (b.timeslot%2 == 1 ? ":30": ":00").toString()
                      td=b.duration
                      td=b.day
                      td.text-right 
                        button.btn.btn-danger
                          span.glyphicon.glyphicon-remove
    div.col-md-2

    script(src="/javascripts/profile.js")
