
extends layout

block content
  div.row
    div.col-md-6
      h1(style="text-align:left") #{username}
    div.col-md-6
      p  
  div.container(style="width:650px")
    div.jumbotron(style="margin-top:2.5em")
      form(method="post")
        div.form-group
          label Username
          input.form-control(type="username", name="username", value="#{username}", disabled="true", required)
        div.form-group
          label First Name
          input.form-control(type="first_name", name="first_name", value="#{first_name}")
        div.form-group
          label Last Name
          input.form-control(type="last_name", name="last_name", value="#{last_name}")
        div.form-group
          label Email Address
          input.form-control(type="email", name="email", value="#{email}", required)
        button.btn.btn-default Submit
        a.button.btn.btn-danger(style="margin-left: 10px") Edit Password
        a.button.btn.btn-default(href='/users/profile' style='float:right') Cancel
      p #{message}
  div(id="pwreset") 
    div.container(style="width:650px")   
      div.jumbotron(style="margin-top:2.5em")
        form(action="/users/profile_edit/pw", method="post")
          div.form-group
            label Old Password
            input.form-control(type="password", name="oldpassword", required)
          div.form-group
            label New Password
            input.form-control(type="password", name="newpassword", required)
          div.form-group
            label Confirm New Password
            input.form-control(type="password", name="newpassword2", required)
          button.btn.btn-default Submit
          a.button.btn.btn-default(href='/users/profile' style='float:right') Cancel

  script(src="/javascripts/profileedit.js")