extends layout


block content

    nav.navbar.navbar-default.navbar-fixed-top()
        .container-fluid
            div.calendar
                div.day
                    div.time
                - var days = ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"]
                - var i = 0
                while i < 7
                    div.day
                        div.day-name
                            - var d = new Date()
                            - var day = days[(d.getDay()+i++)%7]
                            p= day
            
    p #{message}
    div.dropdown
        button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") #{facilities[0].name} #{number}  
            span.caret
        ul.dropdown-menu(aria-labelledby="dropdownMenu1")
            each val, index in facilities
                li
                    a(href='/timetable/'+val.name+'/'+(index+1))= val.name+' '+(index+1)

    h1(style="text-align:center") Timetable  
    div.calendar
        div.timeslots
            div.time
            - var n = 0
            while n < 32
                div.time
                    - var time = (~~(n++/2) + 8)%12
                    p= (time == 0 ? 12 : time ) + (n%2 == 1 ? ":00": ":30").toString()
        - var days = ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"]
        - var i = 0
        while i < 7
            div.day
                div.day-name
                    - var day = days[((new Date()).getDay()+i++)%7]
                    p= day
                - var n = 0
                if day == 'Sun'
                    while n < 4
                        div.time
                        - n++
                    while n < 28
                        each b in uBookings
                            if b.day == day
                                if b.timeslot == n
                                    div(class='userbooked-time', data-day=day, data-time=n)
                                    - n++
                                    break
                        each b in fBookings
                            if b.day == day
                                if b.timeslot == n
                                    div.unavailable-time
                                    - n++
                                    break
                        div(class='available-time', data-day=day, data-time=n)
                        - n++
                    while n < 32
                        div.time
                        - n++
                else
                    while n < 32
                        each b in uBookings
                            if b.day == day
                                if b.timeslot == n
                                    div(class='userbooked-time', data-day=day, data-time=n)
                                    - n++
                                    break
                        each b in fBookings
                            if b.day == day
                                if b.timeslot == n
                                    div.unavailable-time
                                    - n++
                                    break
                        div(class='available-time', data-day=day, data-time=n)
                        - n++

    script(type="text/javascript").
        var facility_id = "#{facility._id}";
    script(src="/javascripts/timetable.js")